.back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.lazy-loaded-image {
    display: none;
   }

.img-container.loaded .lazy-loaded-image {
    display: block;
   }